$cold: #0009C8;
$warm: #ffd500;

@function darker_and_colder($color, $percentage: 5%, $colorStrength: 95%) {
	//@return darken(mix($color, $cold, $colorStrength), $percentage);
	@return darken(mix($color, $cold, calc(100% - $percentage * 2)), $percentage);
}

@function lighter_and_warmer($color, $percentage: 5%) {
	@return lighten(mix($color, $warm, calc(100% - $percentage * 1.5)), $percentage);
}

$blue: #23d8b4;

$blue-d: darker_and_colder($blue, 1%);
$blue-dd: darker_and_colder($blue-d, 10%);
$blue-ddd: darker_and_colder($blue-dd, 20%);
$blue-dddd: darker_and_colder($blue-ddd, 30%);
$blue-ddddd: darker_and_colder($blue-dddd, 40%);

$blue-l: lighter_and_warmer($blue, 1%);
$blue-ll: lighter_and_warmer($blue-l, 3%);
$blue-lll: lighter_and_warmer($blue-ll);
$blue-llll: lighter_and_warmer($blue-lll);
$blue-lllll: lighter_and_warmer($blue-llll);

$green: #9ad24d;

$green-d: darker_and_colder($green, 1%);
$green-dd: darker_and_colder($green-d, 1%);
$green-ddd: darker_and_colder($green-dd, 6%);
$green-dddd: darker_and_colder($green-ddd, 8%);
$green-ddddd: darker_and_colder($green-dddd, 10%);

$green-l: lighter_and_warmer($green, 1%);
$green-ll: lighter_and_warmer($green-l, 3%);
$green-lll: lighter_and_warmer($green-ll);
$green-llll: lighter_and_warmer($green-lll);
$green-lllll: lighter_and_warmer($green-llll);

$red: #D54848;

$red-d: darker_and_colder($red, 1%);
$red-dd: darker_and_colder($red-d, 1%);
$red-ddd: darker_and_colder($red-dd, 6%);
$red-dddd: darker_and_colder($red-ddd, 8%);
$red-ddddd: darker_and_colder($red-dddd, 10%);

$red-l: lighter_and_warmer($red, 1%);
$red-ll: lighter_and_warmer($red-l, 3%);
$red-lll: lighter_and_warmer($red-ll);
$red-llll: lighter_and_warmer($red-lll);
$red-lllll: lighter_and_warmer($red-llll);

$yellow: #F6F326;

$yellow-d: darker_and_colder($yellow, 10%);
$yellow-dd: darker_and_colder($yellow-d, 10%);
$yellow-ddd: darker_and_colder($yellow-dd, 10%);

$yellow-l: lighter_and_warmer($yellow);
$yellow-ll: lighter_and_warmer($yellow-l);
$yellow-lll: lighter_and_warmer($yellow-ll);

$white: #FFFFFF;

$white-d: darker_and_colder($white);
$white-dd: darker_and_colder($white-d);
$white-ddd: darker_and_colder($white-dd);

$main: $blue;

$main-d1: darker_and_colder($main, 5%);
$main-d2: darker_and_colder($main, 10%);
$main-d3: darker_and_colder($main, 15%);
$main-d4: darker_and_colder($main, 20%);
$main-d5: darker_and_colder($main, 25%);

$main-l1: lighter_and_warmer($main, 15%);
$main-l2: lighter_and_warmer($main, 20%);
$main-l3: lighter_and_warmer($main, 30%);
$main-l4: lighter_and_warmer($main, 40%);
$main-l5: lighter_and_warmer($main, 45%);
