
.keyboard {
	padding: 2rem 2rem 1rem;
	background-color: $main;

	form {
		display: block;
		margin-bottom: 1rem;

		label {
			input[type='radio'] {
				display: none;

				& + span {
					font-size: x-small;
					font-weight: bold;
					text-transform: uppercase;
					font-family: sans-serif;
					margin-right: 1rem;
					cursor: pointer;
					padding: 0.2em 0.5em;
					border-radius: 2px;
					transition: 50ms linear;

					background-color: $main-l2;
					color: $main-d2;
				}

				&:not(:checked):focus + span,
				&:not(:checked) + span:hover {
					background-color: $main-l3;
					color: $main-d4;
				}

				&:checked + span {
					background-color: $main-l4;
					color: $main-d4;
				}
			}
		}
	}

	.line {
		display: flex;
		align-items: stretch;

		.key, .space {
			flex: 1;
			display: block;
			margin: 3px;
		}

		.space {
		}

		.key {
    		border-radius: 2px;
			text-align: center;
			font-family: monospace;
			font-weight: bold;
			font-size: 1.3rem;
			padding: 0.4rem 0;
			position: relative;
			top: 0px;

			// box-shadow: 0px 1px 0px 2px $main-d1;
			// background-color: $main-l1;
			// color: $main-d1;

			transition: 400ms ease-in-out;

			&:before {
				content: attr(data-plain);
			}

			&.available {
				background-color: $main-l3;
				box-shadow: 0px 1px 0px 2px $main-d2;
				color: $main-d3;
			}

			&.highlight {
				box-shadow: 0px 1px 0px 2px $yellow-dd;
				background-color: $yellow-ll;
				color: $yellow-dd;
			}

			&:not(.available):not(.highlight) {
				background-color: $main;
				box-shadow: 0px 1px 0px 2px $main-d1;
				color: $main-d1;
			}

			&.down {
				top: 2px;

				transition-duration: 0ms;

				box-shadow: 0px -1px 0px 2px $main-d1;

				&.available {
					background-color: $main-l2;
					box-shadow: 0px -1px 0px 2px $main-d2;
					color: $main-d5;
				}

				&.highlight {
					box-shadow: 0px -1px 0px 2px $yellow-d;
					background-color: $yellow-lll;
					color: $yellow-ddd;
				}

				&:not(.available):not(.highlight) {
					background-color: $main-l1;
					box-shadow: 0px -1px 0px 2px $main-d2;
					color: $main-d4;
				}
			}
		}
	}

	&.hidden {
		form {
			margin-bottom: 0;
		}
		.line {
			display: none;
		}
	}

	&.typematrix .classic,
	&.classic .typematrix {
		display: none;
	}

	&.ctrl .key:before {
		content: attr(data-ctrl);
	}

	&.shift .key:before {
		content: attr(data-shift);
	}

	&.ctrl.shift .key:before {
		content: attr(data-ctrlshift);
	}
}