@import "colors.scss";
@import "keyboard.scss";
@import "press-button-info.scss";
@import "sentence.scss";
//@import "chart.scss";
@import "stats.scss";

html, body {
	background-color: $main-l5;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

.trunk {
	width: 33%;
	min-width: 36em;
	margin: auto;
}

main {
	background-color: $main;
}

header {
	padding: 2rem;
	color: $white;

	h1, h2 {
		font-size: 1rem;
		margin: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $main-l3;

		span {
			color: $main-l4;
		}
	}

	h2 {
		margin-top: 1rem;
	}

	button {
		border: none;
		background: none;
		color: inherit;
		display: inline;
		font-size: inherit;
		font-family: inherit;
		cursor: pointer;
		outline-color: $main-l5;

		&:hover, &:focus {
			color: $main-l5;
		}
	}

	p {
		font-size: small;
		color: $main-l5;
		margin: 1rem 0 0;
		font-family: sans-serif;
		font-weight: bold;
	}
}



.advice {
	margin: 0;
	background-color: $main-l3;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;

	font-family: serif;
	color: lighten(black, 50%);
}

.decoration-footer {
	height: 2rem;
	display: flex;
	
	& > * {
		height: 2rem;
		flex: 1;
	}

	[data-color="main-d5"] { background-color: $main-d5 }
	[data-color="main-d4"] { background-color: $main-d4 }
	[data-color="main-d3"] { background-color: $main-d3 }
	[data-color="main-d2"] { background-color: $main-d2 }
	[data-color="main-d1"] { background-color: $main-d1 }
	[data-color="main"]    { background-color: $main }
	[data-color="main-l1"] { background-color: $main-l1 }
	[data-color="main-l2"] { background-color: $main-l2 }
	[data-color="main-l3"] { background-color: $main-l3 }
	[data-color="main-l4"] { background-color: $main-l4 }
	[data-color="main-l5"] { background-color: $main-l5 }
}